* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}

/* 페이지 숨기고 보이기 */
.hidden {
  display: none;
}

/* 배경 약간 어둡게 */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
body * {
  z-index: 1;
}

/* 배경사진 */
img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(244, 14, 14);
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
}

/* 회원가입 페이지 */
label {
  cursor: pointer;
  color: #555;
  display: block;
  padding: 10px;
  margin: 3px;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}

/* 이건 모든 페이지에 해당 */
h2,
h3 {
  font-size: 23px;
  font-weight: 500;
}

h1,
h2,
h3 {
  padding: 5px;
}

/* 회원가입페이지, 추가정보 입력 페이지 */

.signUpSection,
.extraInfoSection {
  /* background-color: grey; */
  width: 650px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signUpSection input {
  margin-top: 5px;
  margin-bottom: 20px;
}

#signup-info,
#extraInfo {
  margin-bottom: 15px;
  align-items: center;
  width: 500px;
}

#extraInfo {
  margin-left: 40px;
}

/* Genre preferences 박스 */
.genre {
  background-color: rgba(0, 0, 0, 0.192);
  width: 580px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding-left: 20px;
}

label[class='form-check-label'] {
  color: white;
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  width: 140px;
}

input[class='form-check-input'] {
  position: relative;
  top: 13px;
}

/* 웰컴페이지 아이콘 */
i {
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}
